body,html{
   position: relative;
    overflow-x: hidden;
   
}
*{
  font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
nav{
   position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    height:5vmax;
    padding:0 1vmax ;
    background: white;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.14);
    align-items: center;
  justify-content: space-between;
}

.nav-list{  
 
    align-items: center;
   position: relative;
   width: 100%;
    list-style: none;
    display: flex;
    font-weight: 600;
    gap: 2.5vmax;
}
.nav-list li{
    white-space: nowrap;
}
.nav-link{
    text-decoration: none;
     color: black;
}
.nav-list li a{
    cursor: pointer;
}

.menu-icon {
 
    cursor: pointer;
    display: none;
}
.sign-btn{
    margin-left: 1vmax;
}
.sign-btn a{
   color: #9A9EA7;
    
}
.sign-btn span{
     
    
      background-color: rgb(236, 236, 236);
      margin-right: 0.5vmax;
}
section{
    background-image: url('Assets/background.jpg');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 39.5vmax;
    color: white;
    padding-top: 11vmax;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.2vmax;
}
.text h3{
    font-size: 6vw;
      
}
.text p{
    margin-top: 0.3em;
    font-size:2.4vmax;
    font-weight: 550;
    letter-spacing: -0.1vmax;
}
.option{
   cursor: pointer;
 padding-right: 3vmax;
  border-right: 1px solid rgb(235, 235, 235);
 
}
.select-option{
    width:100%;
     text-align: start;
    width: fit-content; 
   background-color: white;
   position: relative; 
   padding: 2.5vmax 0.5vmax;
   border-radius: 0.5em;
   margin: 0 2vmax;
   display: flex;
   align-items: center;
  flex-wrap: wrap;
   gap: 2vmax; 
   justify-self: center;
   top:14vmax;
   padding-right: 1vmax;
   box-shadow: gray;
   box-shadow: 0px 5px 3px rgba(0,0,0,0.10);
   box-sizing: border-box;
}
 select{
    font-size: 16px; /* Keep text readable */
    line-height: 2.2;/* Maintain proper spacing */
 height: 2vmax;  /* Fixed height */
   max-width: 100%; 
  margin-left: 0.6vmax;
}

.select-option h5{
    font-size: 1.5vmax;
    color: gray; 
    position: relative;
    top: -0.7em; 
    left: 0.4em;
    letter-spacing: 0px;
}
.form-select{
    font-size: 1.5vmax;
    font-weight: 700;
    border: none;
}
 .others-select{
  position: relative;
   align-self: end;
   
}
.btn button{
    position: relative;
    top: 0.2vmax;
    white-space: nowrap;
    font-size: 1.5vmax; 
    background: rgb(94, 195, 235);
    color: white;
   justify-self: center;
   
}
.btn img{
    width:1.2em;
    position: relative;
    top:0.4vmax;
   
}
.btn button,.product button{
    padding: 0.7vmax 0.9vmax;
    border: none;
    border-radius: 0.3vmax;
    cursor: pointer;
}

.section-action{
    display: flex;
    justify-content: space-between;
}
.arrows img{
     cursor: pointer;
}
.items{
    display: flex;
}
.find-car{
    display: flex;
}

.number{
    color: gray;
}
footer{
    background-color: rgb(219, 218, 218);
}
.container{
    display: flex;
    flex-wrap: wrap;
}
footer ul li{
    list-style: none;
  
}
footer ul li u{
    color: gray;
}
.footer-section{
  
    display: flex; 
}
.link{
    display: flex;
    font-weight: 700;
}
.link span{
      color: black;
}
@media(max-width:300px){
   
    .nav-icon{
        position: relative;
    }
    section{
        height: 43vmax; 
      
    }
   .text p{
        font-size: 12px;
    }
 .main-section{
     margin-bottom: 83vmax !important;
 }
 .section-action{
     padding: 1vmax 0.5vmax !important;
     flex-wrap: wrap;
     gap: 1.5vmax;
 }
 .section-product{
     padding: 0 1.2vmax !important;
     gap: 2vmax !important;
 }
 .find-car{
     gap: 3vmax;
     width: 100%;
 }
 .find-btns{
    display: flex;
    position: relative;
   justify-self: end;
 }
 
}
@media(max-width:341px){

   
   .find-btns{
  flex-wrap: wrap;
     margin-left: auto;
       
   }
}
@media(max-width:350px){
    
    .row{
        margin: 0 0.5vmax;
    }
    .row img{
     
        width:51vmax !important;
        height: 25vmax !important;
    }
}
@media(max-width:400px){
    .nav-list li a{
        font-size: 2.8vw;
    }
    .text h3{
        font-size: 5.3vmax !important;
    }
    .text p{
        font-size:2.2vmax;
    }
    .container{
        gap: 6vmax !important;
    }
}
@media(max-width:480px){
   
    .select-option{
        gap: 3.2vmax !important;
    }
   
}
@media(max-width:500px){
     
    .nav-list li a{
        font-size:12px;
       
    }
    .text{
        padding: 0 0.5vmax;
    }
    .text h3{
        font-size: 7vw;
    }
    .btn button{
        position: relative;
    left: 0;
    right: 0;
    }
    .select-option{
        display: grid;
        width: 92%;
        margin: -4vmax  1.8vmax !important;
        gap: 6vmax !important;
        padding: 4.2vmax 2.3vw;
       
    }
    section{
         margin-bottom: 81vmax !important;
    }
    .option{
        border-right: none;
         border-bottom: 1px solid rgb(235, 235, 235);
         padding-bottom: 10px;
    }
   select{
       font-size: 20px;
       position: relative;
       width: 100%;
       height: 4vmax;
       background: white;
       font-weight: 600 !important;
      
   }
   .form-select{
       font-size: 2vmax;
   }
   .select-option h5{
       font-size: 1.9vmax;
   }
   .btn{
       
       text-align: center;
   }
   .btn button{
   padding: 1.5vmax 19.85vw;
     position: relative;
     justify-content: left; 
      font-size: 1.9vmax;
   }
  .brand-logo img{
    width: 9vmax !important;
  }
  .find-btns{
      gap: 3vmax !important;
  }
  .menu-section{
      gap: 12vmax !important;
  }
  .first-row{
      gap: 16vmax !important;
  }
 
}
@media(max-width:600px){
     .brand-n{
      position: relative;
     top: -0.8vmax !important;
  }
}
@media(max-width:850px){
     
    .search-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center align */
        gap: 10px; /* Add spacing */
        width: 90%; /* Reduce width for better fit */
        margin: auto; /* Center horizontally */
      }
    nav{
        padding: 0 1vmax;
        display:grid;
    }
  .nav-icon{
        
        z-index: 70;
    }
   
  .nav-list{
        flex-direction: column;
        position:absolute;
       z-index: 50;
         width:67em;
        height: fit-content;
        left: -1vmax;
        top: -110vmax;
      padding:10vmax 0;
      align-items: center; 
     gap: 5vmax;
     transition: 0.5s ease; 
  background: white;
    }
    .nav-list li{
         font-size: 1.8vw;
    }
    .mobile-menu{
        top:0;
    }
    .nav-item {
         margin-bottom: 2vmax;
    }
    .menu-icon{
        display: block;
        position: absolute;
        right: 4vmax;
        z-index: 70;
       
        width: 3vmax;
       
    }
    .option{
        padding-right: 1.5vmax;
    }
    
    .select-option{
        gap: 1vmax;
    }

}
@media(max-width:1300px){
    .btn{
        padding:0.8vmax 0.9vmax;
    }
    .others-select{
        align-self: center;
    }
    select{
        margin-left: 0.5vmax;
    }

}

@media(max-width:2500px){

    .nav-list{
        font-size:1.5vw ; 
         right: 3em;
    }
   .nav-icon{
  
    width:7vmax;
}
section{
    margin-bottom: 9vmax;
}
.text{
    padding: 0 1vmax;
}
.sign-btn span{
     font-size: 1.5vmax; 
      padding: 0.5vmax;
}
.brand-logo{
   
    gap: 6vmax;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.brand-logo img{
    width: 6vmax;
    
  }
  .row{
      gap: 3.5vmax;
      align-items: center;
      justify-content: center;
      margin:7vmax -1vmax;
     
      display: flex;
   flex-wrap: wrap;
  }
  .row img{
      width: 29vmax;
      height: 18vmax;
      border-radius: 0.5vmax;
  }
  .brand-logo{
    margin-bottom: 10vmax;
   
}
.trending h3{
    position: relative;
    font-size: 3vmax;
    justify-self: center;
}

.car-details{
    padding: 0.9vmax ;
}
.row h6{
   
    font-size: 1.5vmax;
    font-weight: 700;
    margin-bottom: 0.7vmax;
}
.row p,span{
    position: relative;
    font-size: 1.2vmax;
    color: gray;
}
.row p{
    margin-bottom: 0.5vmax;
    
}
.btns{
    gap: 0.5vmax;
}
.btns button{
    font-size: 1.4vmax;
    margin-top: 2vmax;
    padding: 0.6vmax 1vmax ;
    border-radius: 0.5vmax;
    border: none;
    cursor: pointer;
}

.btn2,.product button{
    color: gray;
}
.btn1,.active-btn button{
    background: rgb(223, 247, 255);
    color: rgb(117, 212, 250);
}
 .section-action{
    padding: 1vmax 2vmax;
    margin-bottom: 8vmax;
  
}

.items h3,.find-car h3{
   font-size: 3vmax;
} 
.arrows p{
    font-size: 1.5vmax;
    padding: 0.7vmax 1vmax;
    color: gray;
   
}
.arrows{
    color: black;
    display: flex;
    gap: 0.3vmax;
}
.arrows img{
    width: 2.6vmax;
    height: 2.1vmax;
    padding: 0.6vmax ;
    background:rgb(235, 235, 235) ;
   
}
.section-product{
      display: flex;
      padding: 0 4.2vmax;
      gap: 4vmax;
      transition: transform 0.5s ease-in-out;
}

.product img{
    width: 25vmax;
}
.product {
     text-align: center;
}
.product p{
     font-size: 1.7vmax;
     font-weight: 700;
     margin-top: 1.5vmax;
     margin-bottom: 1vmax;
}
.product button{
font-size: 1.5vmax;

}
.product.active {
    opacity: 1;
    transform: translateX(0);
}
.find-car{
    padding: 7vmax 2vmax;
    gap: 2vmax;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
}
 .find-btns{
     position: relative;
     display: flex;
   
    gap: 6vmax ;
} 
.btn{
    font-size: 1.5vmax;
    border: none;
    background: transparent;
}
.text-black{
    font-weight: 800;
}
.all-details{
    padding: 0 2vmax;

}
.first-row{
    display: flex;
   font-size: 2.1vmax;
    color:gray;
    gap: 18.2vmax;
}
.brand{
    gap: 1vmax;
}

.brand span{
     font-size: 1.5vmax;
     font-weight: 700;
     color: black;
    white-space: nowrap;
}
.brand p{
    font-size: 1.3vmax;
    color: gray;
  
}
.menu-section{
    position: relative;
    padding: 4vmax 1vmax;
  display: flex;
    gap: 14.3vmax;
    overflow-x: auto;
}
.row-1{
    padding-top: 2vmax;
    gap: 2vmax;
}
.brand{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  padding-bottom: 7vmax; 
}
.row-1 img{
   width: 4vmax;
   height: auto;
}

.brand-info ul li{
    list-style: none;
  margin-bottom:1.2vmax ;
    font-size: 1.5vmax;
    font-weight: 700;
    gap: 0.5vmax;
}
.number{
    text-align: end;
}
footer{
    font-size: 1.4vmax;
    justify-content: center;
    align-items: center;
    padding: 2.3vmax 2vmax;
}
.container{
    gap: 8vmax;
    justify-content: center;
}
.start-row ul li,.second-row ul li,.third-row ul li,.four-row ul li{
   position: relative;
  margin-bottom: 1.5vmax;
  cursor: pointer;
} 
.footer-section{
    gap: 2vmax;
    justify-content:space-between;  
    margin:  1vmax 1vmax;
}
.link span{
    margin-right: 0.5vmax;
}
footer ul li h6{
    font-weight: 800;
    font-size: 1.1vmax;
    margin-bottom: 0.5vmax;
}
.svg{
    display: flex;
    font-size: 1.1vmax;
    color: gray;
  align-items: center;
  justify-content: center;
}
 .svg svg{
   width: 0.8vmax;
 }
.modes{
    display: flex;
    gap: 1vmax;
}
.modes svg{
    width: 1.5vmax;
}


}
